body {
    background-image: url(../images/beige-tiles.png);
}

.container {
    background-color: #85658C;
    color: white;
}

#head {
    font-family: 'Press Start 2P', cursive;
    font-size: 56px;
    font-weight: bold;
    padding: 5px;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

img {
    height: 175px;
    width: 175px;
    padding: 50px;
}